<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dk.modules.config.mapper.ConfigLoanMapper">
  <resultMap id="BaseResultMap" type="com.dk.modules.config.po.ConfigLoan">
    <id column="L_ID" jdbcType="VARCHAR" property="lId" />
    <result column="MIN_AMOUNT" jdbcType="INTEGER" property="minAmount" />
    <result column="MAX_AMOUNT" jdbcType="INTEGER" property="maxAmount" />
    <result column="RATE" jdbcType="VARCHAR" property="rate" />
    <result column="REPAYMENT_DAY" jdbcType="VARCHAR" property="repaymentDay" />
    <result column="ALLOW_MONTH" jdbcType="VARCHAR" property="allowMonth" />
    <result column="DEF_MONTH" jdbcType="VARCHAR" property="defMonth" />
    <result column="DEF_AMOUNT" jdbcType="INTEGER" property="defAmount" />
  </resultMap>
  <sql id="Base_Column_List">
    L_ID, MIN_AMOUNT, MAX_AMOUNT, RATE, REPAYMENT_DAY, ALLOW_MONTH, DEF_MONTH, DEF_AMOUNT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CONFIG_LOAN
    where L_ID = #{lId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CONFIG_LOAN
    where L_ID = #{lId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dk.modules.config.po.ConfigLoan">
    insert into CONFIG_LOAN (L_ID, MIN_AMOUNT, MAX_AMOUNT, 
      RATE, REPAYMENT_DAY, ALLOW_MONTH, 
      DEF_MONTH, DEF_AMOUNT)
    values (#{lId,jdbcType=VARCHAR}, #{minAmount,jdbcType=INTEGER}, #{maxAmount,jdbcType=INTEGER}, 
      #{rate,jdbcType=VARCHAR}, #{repaymentDay,jdbcType=VARCHAR}, #{allowMonth,jdbcType=VARCHAR}, 
      #{defMonth,jdbcType=VARCHAR}, #{defAmount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dk.modules.config.po.ConfigLoan">
    insert into CONFIG_LOAN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lId != null">
        L_ID,
      </if>
      <if test="minAmount != null">
        MIN_AMOUNT,
      </if>
      <if test="maxAmount != null">
        MAX_AMOUNT,
      </if>
      <if test="rate != null">
        RATE,
      </if>
      <if test="repaymentDay != null">
        REPAYMENT_DAY,
      </if>
      <if test="allowMonth != null">
        ALLOW_MONTH,
      </if>
      <if test="defMonth != null">
        DEF_MONTH,
      </if>
      <if test="defAmount != null">
        DEF_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lId != null">
        #{lId,jdbcType=VARCHAR},
      </if>
      <if test="minAmount != null">
        #{minAmount,jdbcType=INTEGER},
      </if>
      <if test="maxAmount != null">
        #{maxAmount,jdbcType=INTEGER},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="repaymentDay != null">
        #{repaymentDay,jdbcType=VARCHAR},
      </if>
      <if test="allowMonth != null">
        #{allowMonth,jdbcType=VARCHAR},
      </if>
      <if test="defMonth != null">
        #{defMonth,jdbcType=VARCHAR},
      </if>
      <if test="defAmount != null">
        #{defAmount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dk.modules.config.po.ConfigLoan">
    update CONFIG_LOAN
    <set>
      <if test="minAmount != null">
        MIN_AMOUNT = #{minAmount,jdbcType=INTEGER},
      </if>
      <if test="maxAmount != null">
        MAX_AMOUNT = #{maxAmount,jdbcType=INTEGER},
      </if>
      <if test="rate != null">
        RATE = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="repaymentDay != null">
        REPAYMENT_DAY = #{repaymentDay,jdbcType=VARCHAR},
      </if>
      <if test="allowMonth != null">
        ALLOW_MONTH = #{allowMonth,jdbcType=VARCHAR},
      </if>
      <if test="defMonth != null">
        DEF_MONTH = #{defMonth,jdbcType=VARCHAR},
      </if>
      <if test="defAmount != null">
        DEF_AMOUNT = #{defAmount,jdbcType=INTEGER},
      </if>
    </set>
    where L_ID = #{lId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dk.modules.config.po.ConfigLoan">
    update CONFIG_LOAN
    set MIN_AMOUNT = #{minAmount,jdbcType=INTEGER},
      MAX_AMOUNT = #{maxAmount,jdbcType=INTEGER},
      RATE = #{rate,jdbcType=VARCHAR},
      REPAYMENT_DAY = #{repaymentDay,jdbcType=VARCHAR},
      ALLOW_MONTH = #{allowMonth,jdbcType=VARCHAR},
      DEF_MONTH = #{defMonth,jdbcType=VARCHAR},
      DEF_AMOUNT = #{defAmount,jdbcType=INTEGER}
    where L_ID = #{lId,jdbcType=VARCHAR}
  </update>
</mapper>